{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}
    <h2>Wskaźniki jakości sterowania dla PID</h2>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    {%- if plot %}
        <div class="col-md-8">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph', graphs, {});
                </script>
            </div>
            <div>

            </div>
        </div>
    {%- else %}
        <div class="jumbotron col-md-8">
            Wypełnij formularz, aby zobaczyć wykres.
        </div>
    {%- endif %}
{%- endblock %}

